
OSC_Rec/.vs/OSC_Rec/v15/.suo
OSC_Rec/.vs/OSC_Rec/v15/Browse.VC.db
OSC_Rec/.vs/OSC_Rec/v15/Solution.VC.db
OSC_Rec/.vs/OSC_Rec/v15/Solution.VC.db-shm
OSC_Rec/.vs/OSC_Rec/v15/Solution.VC.db-wal
OSC_Rec/addons.make
OSC_Rec/bin/data/.gitkeep
OSC_Rec/icon.rc
OSC_Rec/OSC_Rec.sln
OSC_Rec/OSC_Rec.vcxproj
OSC_Rec/OSC_Rec.vcxproj.filters
OSC_Rec/OSC_Rec.vcxproj.user
OSC_Sen/.vs/OSC_Sen/v15/.suo
OSC_Sen/.vs/OSC_Sen/v15/Browse.VC.db
OSC_Sen/.vs/OSC_Sen/v15/Solution.VC.db
OSC_Sen/.vs/OSC_Sen/v15/Solution.VC.db-shm
OSC_Sen/.vs/OSC_Sen/v15/Solution.VC.db-wal
OSC_Sen/addons.make
OSC_Sen/bin/data/.gitkeep
OSC_Sen/icon.rc
OSC_Sen/OSC_Sen.sln
OSC_Sen/OSC_Sen.vcxproj
OSC_Sen/OSC_Sen.vcxproj.filters
OSC_Sen/OSC_Sen.vcxproj.user
OSC_Sen/.vs/OSC_Sen/v15/ipch/AutoPCH/b9f5cefbf836188d/OFAPP.ipch
OSC_Sen/.vs/OSC_Sen/v15/ipch/AutoPCH/817132db12433fa6/MAIN.ipch
OSC_Sen/.vs/OSC_Sen/v15/ipch/AutoPCH/45fff95dd23153fe/PLAYER.ipch
OSC_Sen/.vs/OSC_Sen/v15/Browse.VC.opendb
OSC_Rec/.vs/OSC_Rec/v15/ipch/AutoPCH/dca2258b988df172/OFAPP.ipch
OSC_Rec/.vs/OSC_Rec/v15/Browse.VC.opendb
OSC_Rec/.vs/OSC_Rec/v15/ipch/AutoPCH/81104c7fa69f4ba1/OFAPP.ipch
OSC_Sen/obj/x64/Debug/OscPrintReceivedElements.obj
OSC_Sen/obj/x64/Debug/vc141.pdb
OSC_Sen/obj/x64/Debug/UdpSocket.obj
OSC_Sen/obj/x64/Debug/player.obj
OSC_Sen/obj/x64/Debug/OscTypes.obj
OSC_Sen/obj/x64/Debug/OscReceivedElements.obj
OSC_Sen/obj/x64/Debug/OscOutboundPacketStream.obj
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/rc.write.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/rc.read.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/rc.command.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/OSC_Sen.write.1u.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/OSC_Sen.lastbuildstate
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/link.write.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/link.read.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/link.command.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/CL.write.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/CL.read.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.tlog/CL.command.1.tlog
OSC_Sen/obj/x64/Debug/OSC_Sen.log
OSC_Sen/obj/x64/Debug/ofxOscSender.obj
OSC_Sen/obj/x64/Debug/ofxOscReceiver.obj
OSC_Sen/obj/x64/Debug/ofxOscParameterSync.obj
OSC_Sen/obj/x64/Debug/ofxOscMessage.obj
OSC_Sen/obj/x64/Debug/ofxOscBundle.obj
OSC_Sen/obj/x64/Debug/ofApp.obj
OSC_Sen/obj/x64/Debug/NetworkingUtils.obj
OSC_Sen/obj/x64/Debug/main.obj
OSC_Sen/obj/x64/Debug/IpEndpointName.obj
OSC_Sen/obj/x64/Debug/icon.res
OSC_Sen/bin/OSC_Sen_debug.pdb
OSC_Sen/bin/OSC_Sen_debug.lib
OSC_Sen/bin/OSC_Sen_debug.ilk
OSC_Sen/bin/OSC_Sen_debug.exp
OSC_Sen/bin/OSC_Sen_debug.exe
OSC_Sen/bin/FreeImage.dll
OSC_Sen/bin/fmodexL64.dll
OSC_Sen/bin/fmodex64.dll
OSC_Rec/obj/x64/Debug/vc141.pdb
OSC_Rec/obj/x64/Debug/UdpSocket.obj
OSC_Rec/obj/x64/Debug/OscTypes.obj
OSC_Rec/obj/x64/Debug/OscReceivedElements.obj
OSC_Rec/obj/x64/Debug/OscPrintReceivedElements.obj
OSC_Rec/obj/x64/Debug/OscOutboundPacketStream.obj
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/rc.write.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/rc.read.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/rc.command.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/OSC_Rec.write.1u.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/OSC_Rec.lastbuildstate
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/link.write.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/link.read.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/link.command.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/CL.write.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/CL.read.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.tlog/CL.command.1.tlog
OSC_Rec/obj/x64/Debug/OSC_Rec.log
OSC_Rec/obj/x64/Debug/ofxOscSender.obj
OSC_Rec/obj/x64/Debug/ofxOscReceiver.obj
OSC_Rec/obj/x64/Debug/ofxOscParameterSync.obj
OSC_Rec/obj/x64/Debug/ofxOscMessage.obj
OSC_Rec/obj/x64/Debug/ofxOscBundle.obj
OSC_Rec/obj/x64/Debug/ofApp.obj
OSC_Rec/obj/x64/Debug/NetworkingUtils.obj
OSC_Rec/obj/x64/Debug/main.obj
OSC_Rec/obj/x64/Debug/IpEndpointName.obj
OSC_Rec/obj/x64/Debug/icon.res
OSC_Rec/obj/x64/Debug/client.obj
OSC_Rec/bin/OSC_Rec_debug.pdb
OSC_Rec/bin/OSC_Rec_debug.lib
OSC_Rec/bin/OSC_Rec_debug.ilk
OSC_Rec/bin/OSC_Rec_debug.exp
OSC_Rec/bin/OSC_Rec_debug.exe
OSC_Rec/bin/FreeImage.dll
OSC_Rec/bin/fmodexL64.dll
OSC_Rec/bin/fmodex64.dll
