
OSC_Rec/.vs/OSC_Rec/v15/.suo
OSC_Rec/.vs/OSC_Rec/v15/Browse.VC.db
OSC_Rec/.vs/OSC_Rec/v15/Solution.VC.db
OSC_Rec/.vs/OSC_Rec/v15/Solution.VC.db-shm
OSC_Rec/.vs/OSC_Rec/v15/Solution.VC.db-wal
OSC_Rec/addons.make
OSC_Rec/bin/data/.gitkeep
OSC_Rec/icon.rc
OSC_Rec/OSC_Rec.sln
OSC_Rec/OSC_Rec.vcxproj
OSC_Rec/OSC_Rec.vcxproj.filters
OSC_Rec/OSC_Rec.vcxproj.user
OSC_Sen/.vs/OSC_Sen/v15/.suo
OSC_Sen/.vs/OSC_Sen/v15/Browse.VC.db
OSC_Sen/.vs/OSC_Sen/v15/Solution.VC.db
OSC_Sen/.vs/OSC_Sen/v15/Solution.VC.db-shm
OSC_Sen/.vs/OSC_Sen/v15/Solution.VC.db-wal
OSC_Sen/addons.make
OSC_Sen/bin/data/.gitkeep
OSC_Sen/icon.rc
OSC_Sen/OSC_Sen.sln
OSC_Sen/OSC_Sen.vcxproj
OSC_Sen/OSC_Sen.vcxproj.filters
OSC_Sen/OSC_Sen.vcxproj.user
OSC_Sen/.vs/OSC_Sen/v15/ipch/AutoPCH/b9f5cefbf836188d/OFAPP.ipch
OSC_Sen/.vs/OSC_Sen/v15/ipch/AutoPCH/817132db12433fa6/MAIN.ipch
OSC_Sen/.vs/OSC_Sen/v15/ipch/AutoPCH/45fff95dd23153fe/PLAYER.ipch
OSC_Sen/.vs/OSC_Sen/v15/Browse.VC.opendb
OSC_Rec/.vs/OSC_Rec/v15/ipch/AutoPCH/dca2258b988df172/OFAPP.ipch
OSC_Rec/.vs/OSC_Rec/v15/Browse.VC.opendb
OSC_Rec/.vs/OSC_Rec/v15/ipch/AutoPCH/81104c7fa69f4ba1/OFAPP.ipch
